
.body-three{
  width:1200px;
  height:300px;
  margin: 20px auto;
}

 .body-three .body-three-all {
  width:585px;
  height:130px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
} 

.body-three .body-three-all .body-three-all-img {
  float: left;
  margin-right: 10px;
}
.body-three .body-three-all .body-three-list-text {
  text-align: left;
  margin-top: 5px;
  font-size: 14px;
}

.body-three .body-three-all .body-three-all-time {
 
  margin-top: 15px;
}

.erweima {
  width:80px;
  height:80px;
  background-image: url(../imgs/wxerweima.png);
  position: relative;
  top:-150px;
  left:485px;
  border: 10px solid #000; 
  display: none;
}

.sanjiaoxing {
  width:0;
  height:0;     
  border-top: 15px solid #000;
  border-left:10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  top:90px;
  left:28px;

}
