
.body-four{
  width:1200px;
  height:150px;
  margin: 20px auto;
}

.body-four .body-four-list {
  width:260px;
  height:112px;
  /* background-color: darkturquoise; */
  background-color: #fff;
  float: left;
  padding: 19px 62px;
  border: rgb(245, 239, 239) 1px solid;
 
}

.body-four .body-four-list:hover {
  box-shadow: 0 0 5px rgb(201, 191, 191);
  transition: 0.8s;
}

.body-four .body-four-list .body-four-list-table {
  width:300px;
  height:80px;
  font-size: 14px;

}

.body-four .body-four-list .body-four-list-table tr td {
  text-align: left;
  width:100px;
  cursor: pointer;
}

.body-four .body-four-list .body-four-list-table tr td:hover {
  color:#ff6a00;
}