.body-two{
  width:1200px;
  height:600px;
  /* background-color:blueviolet; */
  margin: 0 auto;
  /* line-height: 500px; */
}

.body-two .body-two-left-all {
  width:250px;
  height:570px;
  /* background-color: darkkhaki; */
  background:url('https://gw.alicdn.com/tfs/TB1KQ4xp4D1gK0jSZFyXXciOVXa-600-1128.jpg') no-repeat center center/cover;
  color:#fff;
  text-align: left;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
}

.body-two .body-two-left-all .body-two-left-all-button {
  border: 1px solid #fff;
  width: 128px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  color: #fff;
  background-color: #31c9fb;
  margin-top: 32px;
  text-decoration: none;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.body-two .body-two-left-all .body-two-left-all-button:hover {
  background-color: #fff;
  color: #000;
}

.body-two .body-two-right {
  width:900px;
  height:600px;
  margin-top: -600px;
  margin-left: 300px;
  /* background-color: darkslategray; */
}

.body-two .body-two-right .body-two-right-list {
  width:298px;
  height:198px;
  float: left;
  border: 1px solid rgb(235, 230, 230);
  background-color: #fff;
  cursor: pointer;

}

.body-two .body-two-right .body-two-right-list .body-two-right-list-top {
  padding-left:20px;
  padding-top: 20px;
  width:280px;
  height:122px;
  
}

.body-two .body-two-right .body-two-right-list .body-two-right-list-top .body-two-right-list-top-onespan {
  display: inline-block;
  font-size: 12px;
  padding: 2px 8px;
  border: 1px solid #999;
  border-radius: 6px;
  margin-right: 5px;
  color:#999;
}