.body{
  width:1200px;
  height:624px;
  background-color:#f4f4f4;
  margin: 20px auto;
  /* padding-top: 20px; */
  
}

/* .body .body-2{
  float: left;
} */

.body .body-top-right {
  width:940px;
  height:320px;

  margin-top: -624px;
  margin-left: 260px;
}



.body .body-top-right img {
  width:940px;
  height:320px;
}

.body .body-bottom-right { 
  width:240px;
  height: 285px;
  margin-top: -285px;
  background-color:#fff;
  float:right;
}

.body .body-bottom-right .body-bottom-right-button button{
  width: 94px;
  height: 34px;
}

.body .body-bottom-right .body-bottom-right-button .body-bottom-right-button-change {
  color: #fe6a00;
  margin-left: 2px;
  border: 1px solid #fe6a00;
  background-color: #fff;
}

.body .body-bottom-right .body-bottom-right-button .body-bottom-right-button-change:hover{
  color: #fff;
  background-color: #fe6a00;
}


.body .body-left-all {
  width:240px;
  height:624px;
  background-color: #fff;
}

.body .body-left-all .body-left-all-one{
  color:#181818;
  font-size: 14px;
  cursor: pointer;
}

.body .body-left-all .body-left-all-other {
  color:#999;
  font-size: 13px;
  cursor: pointer;
}


.body .body-left-all .body-left-all-other a:hover {
  color:#ff6a00;
}

.body .body-left-all .body-left-all-one:hover{
  color:#ff6a00;
}

.body .body-bottom-center1 {
  margin-left: 260px; 
  margin-top: 18px;
  width:680px;
  height: 284px;
}

.body .body-bottom-center1 .body-bottom-center1-list1 {
  width:145px;
  height:204px;
  background-color: #fff;
  float: left;
  padding:40px;
  border-right: 1px solid #eee;
  cursor: pointer;
}

.body .body-bottom-center1 .body-bottom-center1-list1 .body-bottom-center1-list1-span:hover{
  color:#ff6a00;
}

.body-left-all .top-right {
  background-color: #fff;
  width:750px;
  height:625px;
  z-index: 10;
  /* overflow: visible; */
  /* display:none; */
  position: absolute;
  top:170px;
  left:592px;
}

.body-left-all .left-list {
  margin-top: 2px;
  border-right: 3px solid #f4f4f4;
}
