.body-five{
  width:1200px;
  height:500px;
  margin: 20px auto;
  /* background-color: chartreuse; */
}

.body-five .body-five-top {
  width:1200px;
  height:50px;
  /* background-color: dimgray; */
  margin-bottom: 30px;
}

.body-five .body-five-top .body-five-top-list {
  width:72px;
  height:18px;
  padding: 16px 16px;
  float: left;
  border-bottom: 2px solid #ebebef;
}

.body-five .body-five-list{
  width:1200px;
  height: 420px;
  background-color: #f4f4ff;
}

.body-five .body-five-list .body-five-list-item{
  width:538px;
  height:148px;
  padding: 30px;
  background-color: #fff;
  float: left;
  border: 1px solid #ededed;
  /* z-index: 1; */
  /* margin: 3px; */
}

.body-five .body-five-list .body-five-list-item:hover {
  box-shadow: 0 0 7px #999;
  transition: 0.7s;
}

