.body-six{
  width:1200px;
  height:222px;
  margin: 20px auto;
}

.body-six .body-six-all {
  width:1200px;
  height:132px;
  padding:60px 0px 30px; 
}

.body-six .body-six-all .body-six-all-one {
  width:221px;
  height:100%;
  float: left;
  text-align: left;
  cursor: pointer;
}

.body-six .body-six-all .body-six-all-list {
  height: 109px;
  float: left;
  margin-left: 62px;
  text-align: left;
  color:#808080;
  cursor: pointer;
}

.body-six .body-six-all .body-six-all-list:hover {
  color:#ff6a00;
}