
.body-three{
  width:1200px;
  height:300px;
  margin: 20px auto;
}

 .body-three .body-three-all {
  width:585px;
  height:130px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
} 

.body-three .body-three-all .body-three-all-img {
  float: left;
  margin-right: 10px;
}
.body-three .body-three-all .body-three-list-text {
  text-align: left;
  margin-top: 5px;
  font-size: 14px;
}

.body-three .body-three-all .body-three-all-time {
 
  margin-top: 15px;
}
