.body-seven{
  width:1200px;
  height:130px;
  /* background-color:blueviolet; */
  margin: 20px auto;
  padding: 45px 0 0;
}

.body-seven .body-seven-list {
  float: left;
  margin-left: 75px;
  padding: 0 10px 10px 10px;
  color:#808080;
  
}

.body-seven .body-seven-list:hover {
  color:#ff6a00;
}
