.body-five{
  width:1200px;
  height:500px;
  margin: 20px auto;
}

.body-five .body-five-top {
  width:1200px;
  height:50px;
  margin-bottom: 30px;
}

.body-five .body-five-top .body-five-top-list {
  width:72px;
  height:18px;
  padding: 16px 16px;
  float: left;
  border-bottom: 2px solid #ebebef;
  cursor: pointer;
}

.body-five .body-five-list{
  width:1200px;
  height: 420px;
  background-color: #f4f4ff;
  display: none;
}

.body-five .body-five-list .body-five-list-item{
  width:538px;
  height:148px;
  padding: 30px;
  background-color: #fff;
  float: left;
  border: 1px solid #ededed;
  cursor: pointer;
}

.body-five .body-five-list .body-five-list-item:hover {
  box-shadow: 0 0 6px rgb(216, 213, 213);
  transition: 0.5s;
  position: relative;
  z-index:1;
}

.body-five .body-five-list .body-five-list-item .body-five-list-item-detail > img {
  float: left;
}

.body-five .body-five-list .body-five-list-item .body-five-list-item-detail > div{
  margin-top: 25px;
}

.body-five .body-five-list .body-five-list-item .body-five-list-item-detail .body-five-list-item-detail-ones{
  display:block;
  font-weight: bold;
  font-size: 14px;
  float:right; 
  width:430px; 
  height:72px;
  text-align: left;
  margin-left: 20px;
  line-height: 23px;
}

.body-five .body-five-list .body-five-list-item .body-five-list-item-detail .body-five-list-item-detail-twos{
  display: block;
  text-align: right;
  font-size: 14px;
  padding-top: 10px;
  
}

.body-five .body-five-list .body-five-list-item .body-five-list-item-detail .body-five-list-item-detail-threes{
  font-size: 14px;
  color:#999;
  float: left;
}

.body-five .body-five-list .body-five-list-item .body-five-list-item-detail .body-five-list-item-detail-fours {
  border:1px solid #ff6a00;
  color: #ff6a00;
  font-size: 12px;
  margin-left: 8px;
  float: left;
  border-radius: 4px;
  display: block;
  padding:1px 5px;
  box-sizing: border-box;
}

.body-five .body-five-list .body-five-list-item .body-five-list-item-detail .body-five-list-item-detail-fours:hover {
  background-color: #ff6a00;
  color: #fff;
}

.body-five .body-five-list .body-five-list-item .body-five-list-item-detail .body-five-list-item-detail-fives{
  color: #999;
  float: right;
  font-size: 14px;
  display: block;
}

.body-five .body-five-list .body-five-list-item .body-five-list-item-detail .body-five-list-item-detail-sixs {
  color:#181818;
  float: right;
  font-size: 14px;
  display: block;
  margin-left: 8px;
}

.body-five .body-five-list .body-five-list-item .body-five-list-item-detail .body-five-list-item-detail-sixs:hover{
  color:#ff6a00;
}






