/* 头部样式 */

*{
  margin:0;
  padding: 0;
  text-align: center;
}
.head{
  width:1200px;
  height:140px;
  margin: 0 auto;
  
}

.nav{
  float:right;
  margin-top: 40px;
  margin-right: 42px;
}

.nav ul li {
  list-style: none;
  float:left;
  width:60px;
  height:40px;
  font-size: 14px;
  color:#181818;
  line-height: 40px;  
  cursor: pointer;   
}

.nav ul li:hover {
  color:#ff6a00;
}

.d-search {
  width:500px;
  height:100px;
  float:right;
  margin-right: 20px;
}

.head-search {
  width:380px;
  height:25px;
  border: 2px #ff6a00 solid;
  position: absolute;
  top:40px;
  cursor:text;
  padding: 7px 0  0 20px;
  outline: none; /*去掉chrome浏览器自带的点击input框出现边框情况*/
  color: #999;
  font-size: 14px;
}

.top-search-text {
  margin-left: 15px;
}

.d-search .top-search-text ul li{
  list-style: none;
  float:left;
  width:40px;
  height:20px;
  font-size: 12px;
  color:#000; 
  line-height: 30px; 
  padding:0px 5px 10px 5px ;
  margin-top: 10px;
  letter-spacing: 0.5px;
  cursor: pointer;
  position: relative;
  left:-15px;
} 

.d-search .bottom-search-text{
  font-size: 10px;
  color:gray;  
  text-align: left; 
  line-height: 20px;
  cursor: pointer; 
  position: relative;
  top:77px;
  left:-215px;
  width:610px;
}

.d-search .bottom-search-text span span:hover{
  color: #ff6a00;
}

#search {
  height:34px;
  width:80px;
}

.img-index {
  float: left;
  position: relative;
  top:35%;

}

.head-img {
  width:120px;
  height:30px;
}

.head-bottom-list{
  width:900px;
  height:40px;
  margin-top: 30px;
}

.head .head-bottom-list ul li {
  list-style: none;
  float:left;
  width:100px;
  height:30px;
  padding-bottom: 10px;
  font-size: 14px;
  color:gray; 
  line-height: 30px;
  cursor: pointer;
}

.head .head-bottom-list ul li:hover {
  color:#ff6a00;
}


.head .right-botton-div {
  position: relative;
  top: -145%;
  margin-left: 1020px;
  cursor: pointer;
}

.head .right-botton-div img {
  width:180px;
  height:50px;
}

#zhuce {
  width:80px;
  height:24px;
  padding: 5px 10px;
  border: 1px solid #ff6a00;
  background-color: #ff6a00;
  color: #fff;
  font-weight: 400;
}

.clear{
  clear: both;
}


.layout-1-2 {
  background-color: #f4f4f4;
  height:1330px;
}


.demo {
  background-color: #fe6a00;
  width:1200px;
  height:650px;
  z-index: 10;
  display:none;
  /* display:block; */
  position: absolute;
  top:170px;
  left:352px;
 }

.demo .demo-left {
   width:230px;
   height:140px;
   float: left;
 }

.demo .demo-left .demo-left-list {
  width:170px;
  height:30px;
  padding: 20px 30px ;
  text-align: left;
  color:#fff;
  border-bottom: 1px #fff solid;
  line-height: 20px;
}

.demo .demo-left .demo-left-list-first {
  width:230px;
  height:30px;
}

.demo .demo-left .demo-left-list-one {
  background-color: #fff;
  width:190px;
  height:30px;
  padding: 20px 20px ;
  text-align: left;
  color:#ff6a00;
}

.demo .demo-left .demo-left-list:hover {
  background-color: #fff;
  color:#ff6a00;

}

.demo .demo-right {
  width:970px;
  height:650px;
  float:right;
  background-color: #fff;
}

.demo-right-top {
  width:900px;
  height:30px;
  background-color: #f4f4f4;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px 0 10px 40px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none; 
  font-size: 14px;
  color: gray;
}

.demo-right-bottom table {
  margin-left: 7px;
}

.demo-right-bottom table tr td {
  text-align: left;
  font-size: 15px;
  width:220px;
  color:#373d41;
  cursor: pointer;
}

.demo-right-bottom table tr td:hover {
  color:#ff6a00;
}

.special-td {
  font-size: 17px !important;
  font-weight: bold !important;
  color: #ff6a00 !important;
}

.special-td-line {
  display: block;
  border-bottom: 1px #eee solid;
  text-align: left;
  padding-bottom: 10px;
  box-sizing: border-box;
  cursor: default !important;
}