
.body .body-2 .body-top-right .lunbo-all{
  width:160px;
  height:10px;
  position: absolute;
  top:450px;
  left:645px;
  z-index: 5;
}

.body .body-2 .body-top-right .lunbo-all .lunbo-item{
  float: left;
  background-color: #d1caca;
  width:30px;
  height:5px;
  margin:0 5px;
  cursor: pointer;
}